.background-color{
    /* background-image: url(https://images.unsplash.com/photo-1618458715022-a18d229aca79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80); */
 color: rgb(169, 169, 169);
}
p{
    color: rgb(30, 30, 30);
    font-size: medium;
    size: 70px;
}
h1{
color: rgb(8, 8, 8);
}
h2{
color: white;
}