.grid-continer{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
 

.container img{
    
    height: 2rem;
    grid-column: 2rem;


}
.body{
  background-image: url(https://images.unsplash.com/photo-1563456162079-bdcab0fe5f2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);

}

.card-img-top{
 margin-top: 4rem;
 height: 20rem;

}

.btn-success
{
margin-top: 1rem;
border-radius: 1rem;
}