.grid-continer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px;
  gap: 10px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
 
 
}

.container img{
    max-width:38%;
    height: auto;
    grid-column: auto;


}
.body{
  background-image: url(https://images.unsplash.com/photo-1563456162079-bdcab0fe5f2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);

}

.card-img-top{
 margin-top: 2rem;
 max-width: 30rem;
}

.btn-success
{
margin-top: 2rem;
}